# Requires:
# pip3 install opencv-python==3.4.9.31 +
# pip3 install dlib
# pip3 install dropbox
# pip3 install imutils
# pip3 install json_minify
#
# python speed_estimation_dl_video.py --conf config/config.json --input sample_data/cars.mp4

# inform the user about framerates and speeds
#print("[INFO] NOTE: When using an input video file, speeds will be " \
#	"inaccurate because OpenCV can't throttle FPS according to the " \
#	"framerate of the video. This script is for development purposes only.")